*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: auto;

}
.head img{
    display: grid;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#head{
    display: grid;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    right: 0;
}
.facility{
    position: absolute;
    left: 0;
    top: 40%;
    color: white;
    font-size: 100px;
    font-family: "Helvetica Now Text";

}
.row container{
    display: grid;
    grid-gap: 10px;

}